.navbar-main {
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
    padding: 15px 0px 15px 0px;
    box-shadow: 0px 1px 20px 2px skyblue;
    overflow: hidden;
    position:fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}
.navbar-logo {
    flex: 0 0 120px;
    max-width: 120px;
    width: 100%;
    margin-left: 10px;
}
.navbar-logo img {
    height: 30px;
    width: 30px;
    padding-left: 0;
}
.navbar-menu {
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar-menu-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;

}
.navbar-menu-ul li {
    margin-right: 10px;
}
.navbar-menu-button {
    display: none;
}
.search-li{
    display: none;
}
.search-main{
    border: 1px solid skyblue;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    padding-left: 10px;
    margin-right: 3px;
}
.search {
    display: flex;
    flex: 1;
    margin-right: 10px;
}
.search-btn{
    border: 1px solid skyblue;
    border-radius: 5px;
    background-color: skyblue;
    width: 62px;
    height: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width:768px) {
    .profile{
        display: none;
    }
    .page{
        width: 100%;
        margin: 0px 20% 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .navbar-menu-button {
        display: block;
        float: end;
        background-color: skyblue; 
        border: 1px solid skyblue;
        box-shadow: 0px 1px 20px 2px skyblue;
    }
    .navbar-menu-ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .navbar-menu {
        display: flex;
        align-items: center;
        flex: 0;
    }
    .search{
        display: none;
        float: inline-end;
    }
    .search-li{
        display: block;
    }
    .small-menu {
        display: block;
        list-style: none;
        position: fixed;
        top: 45px;
        width: 100%;
        padding: 20px;
        left: 0;
        background-color: skyblue;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px -1px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width:833px){
    .search-main{
        min-width: 136px;
    }
}